.car {
  display: flex;
  overflow-x: hidden;
}

.container {
  position: relative;
}

.container button {
  position: absolute;
  top: 45%;
  width: 50px;
  z-index: 1;
  height: 50px;
  border: none;
  background-color: rgb(75, 70, 70);
  color: white;
  cursor: pointer;
  z-index: 2;
  font-size: larger;
}
.container button:nth-child(2) {
  right: 0;
}

.car img {
  width: 99vw;
  position: relative;
  transition: 1s;
}
